arrow==0.15.8
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
curlify==2.2.1
facebook-business==8.0.0
habanero==0.7.4
idna==2.10
linkedrw==1.2.1
Logbook==1.5.3
mock==4.0.2
pycountry==20.7.3
python-dateutil==2.8.1
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.48.2
urllib3==1.25.10
